# Access Transformer config for Forge

public net.minecraft.client.renderer.item.properties.conditional.ConditionalItemModelProperties ID_MAPPER
public net.minecraft.client.renderer.item.properties.numeric.RangeSelectItemModelProperties ID_MAPPER
public net.minecraft.client.renderer.item.properties.select.SelectItemModelProperties ID_MAPPER

public net.minecraft.client.renderer.item.properties.conditional.ConditionalItemModelProperties f_371093_
public net.minecraft.client.renderer.item.properties.numeric.RangeSelectItemModelProperties f_371150_
public net.minecraft.client.renderer.item.properties.select.SelectItemModelProperties f_371359_
