# Access Transformer config for Forge
public net.minecraft.client.resources.model.ModelBakery f_119214_
public net.minecraft.client.resources.model.ModelBakery m_119341_(Lnet/minecraft/resources/ResourceLocation;)Lnet/minecraft/client/resources/model/UnbakedModel;
public net.minecraft.client.resources.model.ModelBakery$ModelBakerImpl
public net.minecraft.client.resources.model.ModelBakery$ModelBakerImpl <init>(Lnet/minecraft/client/resources/model/ModelBakery;Lnet/minecraft/client/resources/model/ModelBakery$TextureGetter;Lnet/minecraft/client/resources/model/ModelResourceLocation;)V

public net.minecraft.world.entity.animal.Animal m_213860_()I # getBaseExperienceReward
public net.minecraft.world.entity.Mob m_213860_()I # getBaseExperienceReward
public net.minecraft.world.entity.LivingEntity m_213860_()I # getBaseExperienceReward
