# Access Transformer config for NeoForge
public net.minecraft.client.renderer.item.properties.conditional.ConditionalItemModelProperties ID_MAPPER
public net.minecraft.client.renderer.item.properties.numeric.RangeSelectItemModelProperties ID_MAPPER
public net.minecraft.client.renderer.item.properties.select.SelectItemModelProperties ID_MAPPER

public net.minecraft.world.inventory.AbstractCraftingMenu craftSlots
